<img src="#" alt="">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Forside</a>
                </li>
                <li>
                    <a href="/produkter">Produkter</a>
                </li>
                <li>
                    <a href="#">Udstyr</a>
                </li>
                <li>
                    <a href="/kontaktForm">Kontakt</a>
                </li>
                <li>
                    <a href="#">Nyheder</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
            </ul>
        </div>
        <div id="avanSearchParent" class="col-md-4x"> <a id="avanSearch" href="../search">Avanceret søgning</a></div>
        <form id="navSearch" method="POST" action="/search" class="col-md-4x">
            <input type="text" class="txt" name="txt">
            <input type="submit" class="submit" name="submit" value="søg">
        </form>
    </div>
    
</nav>

