

<!-- /* OBS!! Denne fil bliver ikke brugt i selve projektet - den var til at teste med! */ -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fileupload</title>
</head> 

<body>
    <h1>Fileupload</h1>
    <form action="/image" method="post" enctype="multipart/form-data">
        <div class="inputGroup">
            <label for="upload__image">File</label>
            <input type="file" name="billede" id="upload__image">
        </div>
        <div class="inputGroup">
            <button type="submit">Upload</button>
        </div>
    </form>
</body>

</html>