<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head_partials.ejs %>
</head>

<body>
    <div id="wrapper" class="container">
        <header>

            <% include ../partials/navigation_partials.ejs %>
        </header>

        <main>

            <h1 class="col-md-9">Forside</h1>
            <article class="col-md-9">
                <% include ../partials/main_content_hl.ejs %>
                    <div  id="forside_text">
                        <img align="right" id="forside_img" src="" alt="">
                        <p>Velkommen til Template</p>
                    </div>
                    
                        
            </article>

            

        </main>
        <footer>
            
        </footer>
    </div>
</body>


</html>